<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>My App</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/my-app.css">
    <!-- Scripts -->
    <script src="cordova.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/moment-with-locales.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar-overlay"></div>
    <!-- Panels overlay-->
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-cover">
      <div class="content-block">
        <p><a href="#" class="close-panel">Close</a></p>
        <p><a href="view-1-0.html" class="close-panel">Build-in template 1</a></p>
        <p><a href="view-1-1.html" class="close-panel">Build-in template 2</a></p>
        <p><a href="view-1-2.html" class="close-panel">URL 1 - Youtube</a></p>
        <p><a href="view-1-3.html" class="close-panel">URL 2 - Site</a></p>
        <p><a href="ppt.html" class="external">PPT</a></p>
        <p><a href="#" class="close-panel">Close</a></p>
      </div>
    </div>
    <!-- Views, and they are tabs-->
    <!-- We need to set "toolbar-through" class on it to keep space for our tab bar-->
    <div class="views tabs toolbar-through">
      <!-- Your first view, it is also a .tab and should have "active" class to make it visible by default-->
      <div id="view-1" class="view view-main tab active">

        <!-- Top Navbar-->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="left"><a href="#" data-panel="left" class="open-panel link"><i class="icon icon-bars"></i></a></div>
            <div class="right" id="couponLink"></div>
          </div>
        </div>
        <!-- /End of Top Navbar-->

        <!-- Pages-->
        <div class="pages navbar-through">
          <!-- Page, data-page contains page name-->
          <div data-page="index-1" class="page">
            <!-- Scrollable page content-->
            <div class="page-content" id="message">
              <p>нет сообщений</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Second view (for second wrap)-->
      <div id="view-2" class="view tab">
        <div class="navbar">
          <div class="navbar-inner">
            <div class="center" style="min-width: 200px;">
              <!-- Buttons row as tabs controller in navbar-->
              <div class="buttons-row" style="min-width: 200px;">
                <!-- Link to 1st tab, active -->
                <a href="#view-2-map" class="tab-link active button">Схема</a>
                <!-- Link to 2nd tab -->
                <a href="#view-2-list" class="tab-link button">Список</a>
              </div>
            </div>
          </div>
        </div>
        <div class="pages navbar-through">
          <div data-page="index-2" class="page">
            <div class="page-content">

              <!-- Tabs, tabs wrapper -->
              <div class="tabs" style="height: 100%">

                <!-- Tab 1, active by default -->
                <div id="view-2-map" class="tab active" style="height: 100%">
                  <div id="yamap" style="width: 100%; height: 100%;"></div>
                </div>

                <!-- Tab 2 -->
                <div id="view-2-list" class="tab">

                  <div class="content-block-title">Умные места поблизости</div>
                  <div class="list-block media-list">
                    <ul id="smart-places-near-list">
                      <!-- Здесь будет отображаться список умных мест поблизости -->
                    </ul>
                  </div>

                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
      <div id="view-3" class="view tab">
        <div class="pages">
          <div data-page="index-3" class="page">
            <div class="page-content">
              <div class="content-block-title">Избранные умные места</div>
              <div class="list-block media-list">
                <ul id="found-beacons">
                  <!--
                  <li>
                    <a href="#" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Бар &laquo;Mr. Drunke Bar&raquo;</div>
                          <div class="item-after">0.0 км</div>
                        </div>
                        <div class="item-subtitle">г. Краснодар, ул. Красноармейская, 58</div>
                        <div class="item-text">Великий бар — это тот бар, величие и популярность которого держится на атмосфере, создаваемой барменами.</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">Мясной ресторан &laquo;Скотина&raquo;</div>
                          <div class="item-after">0.0 км</div>
                        </div>
                        <div class="item-subtitle">г. Краснодар, ул. Суворова, 64</div>
                        <div class="item-text">Мы специализируемся на приготовлении мясных блюд, в первую очередь – из местного кубанского мяса.</div>
                      </div>
                    </a>
                  </li>
                -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="view-4" class="view tab view4">
        <div class="pages">
          <div data-page="index-4" class="page">
            <div class="page-content">
              <!-- Slider -->
              <div class="slider-container places-history" style="height: 200px; background-color: white;">
                <div class="slider-wrapper">
                  <div class="slider-slide"><span style="text-align: center; display: block; margin: 10px; font-size: 21px;">Мясной ресторан &laquo;Скотина&raquo;</span></div>
                  <div class="slider-slide"><span style="text-align: center; display: block; margin: 10px; font-size: 21px;">Место 2</span></div>
                  <div class="slider-slide"><span style="text-align: center; display: block; margin: 10px; font-size: 21px;">Место 3</span></div>
                  <div class="slider-slide"><span style="text-align: center; display: block; margin: 10px; font-size: 21px;">Место 4</span></div>
                </div>
                <div class="slider-pagination"></div>
              </div>
              <!-- Tabs wrapper, shoud have "tabs" class. Required element -->
              <div style="height: calc(100% - 200px); overflow: auto; -webkit-overflow-scrolling: touch;">
                <div class="tabs">
                  <div class="tab active" id="place0">
                    <div class="content-block-title">История событий</div>
                    <div class="list-block media-list">
                      <ul>
                        <li>
                          <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">Ждём вас снова!</div>
                                <div class="item-after">23:45</div>
                              </div>
                              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">Познакомьтесь с меню</div>
                                <div class="item-after">12:45</div>
                              </div>
                              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">Добро пожаловать!</div>
                                <div class="item-after">12:34</div>
                              </div>
                              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab" id="place1">
                    <div class="content-block-title">История событий</div>
                    <div class="list-block media-list">
                      <ul>
                        <li>
                          <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">Событие места 2</div>
                                <div class="item-after">12:34</div>
                              </div>
                              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab" id="place2">
                    <div class="content-block-title">История событий</div>
                    <div class="list-block media-list">
                      <ul>
                        <li>
                          <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">Событие места 3</div>
                                <div class="item-after">12:34</div>
                              </div>
                              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="tab" id="place3">
                    <div class="content-block-title">История событий</div>
                    <div class="list-block media-list">
                      <ul>
                        <li>
                          <a href="#" class="item-link item-content">
                            <div class="item-inner">
                              <div class="item-title-row">
                                <div class="item-title">Событие места 4</div>
                                <div class="item-after">12:34</div>
                              </div>
                              <div class="item-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom Tabbar-->
      <div class="toolbar tabbar tabbar-labels">
        <div class="toolbar-inner">
          <a href="#view-1" class="tab-link active"><i class="icon tabbar-location-icon"></i><span class="tabbar-label">Место</span></a>
          <a href="#view-2" class="tab-link"><i class="icon tabbar-map-icon"></i><span class="tabbar-label">Карта</span></a>
          <a href="#view-3" class="tab-link"><i class="icon tabbar-favourite-icon"></i><span class="tabbar-label">Избранное</span></a>
          <a href="#view-4" class="tab-link"><i class="icon tabbar-history-icon"><span class="badge bg-red">4</span></i><span class="tabbar-label">История</span></a>
        </div>
      </div>
    </div>
    <!-- Path to Framework7 Library JS-->
    <script type="text/javascript" src="js/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script type="text/javascript" src="js/my-app.js"></script>
    <!-- Yandex maps -->
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
      ymaps.ready(init);
      function init () {
        var
          myMap = new ymaps.Map('yamap', {center: [45.058071, 38.982706], zoom: 11, controls: ['geolocationControl', 'trafficControl', 'zoomControl'], behaviors: ['default']}),
          clusterer = new ymaps.Clusterer({preset: 'islands#darkBlueClusterIcons', clusterDisableClickZoom: true, clusterBalloonPanelMaxMapArea: Infinity}),
          geoObjects = [],
          geolocation = ymaps.geolocation
        ;

        $.ajax({
          dataType: "jsonp",
          url: "http://sleepy-scrubland-4869.herokuapp.com/mobile/locations/all",
        })
          .done(function(data) {
            $("#smart-places-near-list").empty();
            _.each(data, function(item, index) {
              geoObjects[index] = new ymaps.Placemark([item.lat, item.lng], {balloonContentHeader: item.title, balloonContentBody: item.address, balloonContentFooter: item.contacts}, {preset: 'islands#darkBlueCircleDotIcon', balloonPanelMaxMapArea: Infinity});
              $("#smart-places-near-list").append($.parseHTML('<li><a href="#" class="item-link item-content"><div class="item-inner"><div class="item-title-row"><div class="item-title">' + item.title + '</div><div class="item-after">0.0 км</div></div><div class="item-subtitle">' + item.address + '</div><div class="item-text">' + item.contacts + '</div></div></a></li>'));
            });
            clusterer.add(geoObjects);
            myMap.geoObjects.add(clusterer);
          })
        ;

        geolocation.get().then(function(result) {
          myMap.geoObjects.add(result.geoObjects);
        });

      };
    </script>
    <script id="messageTemplate" type="text/x-underscore-template">
      <div class="content-block-title"><%= moment(ts).fromNow() %></div>
      <div class="message-image" style="background-image: url('<%= image.url %>');"></div>
      <div class="content-block">
        <div class="content-block-inner">
          <h4><%= header %></h4>
          <p><%= text %></p>
        </div>
      </div>
    </script>
  </body>
</html>
