@font-face {
	font-family: 'entypo';
	src:url('../fonts/entypo.eot') format('embedded-opentype'), url('../fonts/entypo.woff') format('woff'), url('../fonts/entypo.ttf') format('truetype'), url('../fonts/entypo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'entypo-social';
	src:url('../fonts/entypo-social.eot') format('embedded-opentype'), url('../fonts/entypo-social.woff') format('woff'), url('../fonts/entypo-social.ttf') format('truetype'), url('../fonts/entypo-social.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="entypo-icon-"], [class*=" entypo-icon-"] {
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="entypo-social-icon-"], [class*=" entypo-social-icon-"] {
	font-family: 'entypo-social';
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.entypo-icon-phone:before {
	content: "\1F4DE";
}
.entypo-icon-mobile:before {
	content: "\1F4F1";
}
.entypo-icon-mouse:before {
	content: "\E789";
}
.entypo-icon-address:before {
	content: "\E723";
}
.entypo-icon-mail:before {
	content: "\2709";
}
.entypo-icon-paper-plane:before {
	content: "\1F53F";
}
.entypo-icon-pencil:before {
	content: "\270E";
}
.entypo-icon-feather:before {
	content: "\2712";
}
.entypo-icon-attach:before {
	content: "\1F4CE";
}
.entypo-icon-inbox:before {
	content: "\E777";
}
.entypo-icon-reply:before {
	content: "\E712";
}
.entypo-icon-reply-all:before {
	content: "\E713";
}
.entypo-icon-forward:before {
	content: "\27A6";
}
.entypo-icon-user:before {
	content: "\1F464";
}
.entypo-icon-users:before {
	content: "\1F465";
}
.entypo-icon-add-user:before {
	content: "\E700";
}
.entypo-icon-vcard:before {
	content: "\E722";
}
.entypo-icon-export:before {
	content: "\E715";
}
.entypo-icon-location:before {
	content: "\E724";
}
.entypo-icon-map:before {
	content: "\E727";
}
.entypo-icon-compass:before {
	content: "\E728";
}
.entypo-icon-direction:before {
	content: "\27A2";
}
.entypo-icon-hair-cross:before {
	content: "\1F3AF";
}
.entypo-icon-share:before {
	content: "\E73C";
}
.entypo-icon-shareable:before {
	content: "\E73E";
}
.entypo-icon-heart:before {
	content: "\2665";
}
.entypo-icon-heart-empty:before {
	content: "\2661";
}
.entypo-icon-star:before {
	content: "\2605";
}
.entypo-icon-star-empty:before {
	content: "\2606";
}
.entypo-icon-thumbs-up:before {
	content: "\1F44D";
}
.entypo-icon-thumbs-down:before {
	content: "\1F44E";
}
.entypo-icon-chat:before {
	content: "\E720";
}
.entypo-icon-comment:before {
	content: "\E718";
}
.entypo-icon-quote:before {
	content: "\275E";
}
.entypo-icon-home:before {
	content: "\2302";
}
.entypo-icon-popup:before {
	content: "\E74C";
}
.entypo-icon-search:before {
	content: "\1F50D";
}
.entypo-icon-flashlight:before {
	content: "\1F526";
}
.entypo-icon-print:before {
	content: "\E716";
}
.entypo-icon-bell:before {
	content: "\1F514";
}
.entypo-icon-link:before {
	content: "\1F517";
}
.entypo-icon-flag:before {
	content: "\2691";
}
.entypo-icon-cog:before {
	content: "\2699";
}
.entypo-icon-tools:before {
	content: "\2692";
}
.entypo-icon-trophy:before {
	content: "\1F3C6";
}
.entypo-icon-tag:before {
	content: "\E70C";
}
.entypo-icon-camera:before {
	content: "\1F4F7";
}
.entypo-icon-megaphone:before {
	content: "\1F4E3";
}
.entypo-icon-moon:before {
	content: "\263D";
}
.entypo-icon-palette:before {
	content: "\1F3A8";
}
.entypo-icon-leaf:before {
	content: "\1F342";
}
.entypo-icon-note:before {
	content: "\266A";
}
.entypo-icon-beamed-note:before {
	content: "\266B";
}
.entypo-icon-new:before {
	content: "\1F4A5";
}
.entypo-icon-graduation-cap:before {
	content: "\1F393";
}
.entypo-icon-book:before {
	content: "\1F4D5";
}
.entypo-icon-newspaper:before {
	content: "\1F4F0";
}
.entypo-icon-bag:before {
	content: "\1F45C";
}
.entypo-icon-airplane:before {
	content: "\2708";
}
.entypo-icon-lifebuoy:before {
	content: "\E788";
}
.entypo-icon-eye:before {
	content: "\E70A";
}
.entypo-icon-clock:before {
	content: "\1F554";
}
.entypo-icon-mic:before {
	content: "\1F3A4";
}
.entypo-icon-calendar:before {
	content: "\1F4C5";
}
.entypo-icon-flash:before {
	content: "\26A1";
}
.entypo-icon-thunder-cloud:before {
	content: "\26C8";
}
.entypo-icon-droplet:before {
	content: "\1F4A7";
}
.entypo-icon-cd:before {
	content: "\1F4BF";
}
.entypo-icon-briefcase:before {
	content: "\1F4BC";
}
.entypo-icon-air:before {
	content: "\1F4A8";
}
.entypo-icon-hourglass:before {
	content: "\23F3";
}
.entypo-icon-gauge:before {
	content: "\1F6C7";
}
.entypo-icon-language:before {
	content: "\1F394";
}
.entypo-icon-network:before {
	content: "\E776";
}
.entypo-icon-key:before {
	content: "\1F511";
}
.entypo-icon-battery:before {
	content: "\1F50B";
}
.entypo-icon-bucket:before {
	content: "\1F4FE";
}
.entypo-icon-magnet:before {
	content: "\E7A1";
}
.entypo-icon-drive:before {
	content: "\1F4FD";
}
.entypo-icon-cup:before {
	content: "\2615";
}
.entypo-icon-rocket:before {
	content: "\1F680";
}
.entypo-icon-brush:before {
	content: "\E79A";
}
.entypo-icon-suitcase:before {
	content: "\1F6C6";
}
.entypo-icon-traffic-cone:before {
	content: "\1F6C8";
}
.entypo-icon-globe:before {
	content: "\1F30E";
}
.entypo-icon-keyboard:before {
	content: "\2328";
}
.entypo-icon-browser:before {
	content: "\E74E";
}
.entypo-icon-publish:before {
	content: "\E74D";
}
.entypo-icon-progress-3:before {
	content: "\E76B";
}
.entypo-icon-progress-2:before {
	content: "\E76A";
}
.entypo-icon-progress-1:before {
	content: "\E769";
}
.entypo-icon-progress-0:before {
	content: "\E768";
}
.entypo-icon-light-down:before {
	content: "\1F505";
}
.entypo-icon-light-up:before {
	content: "\1F506";
}
.entypo-icon-adjust:before {
	content: "\25D1";
}
.entypo-icon-code:before {
	content: "\E714";
}
.entypo-icon-monitor:before {
	content: "\1F4BB";
}
.entypo-icon-infinity:before {
	content: "\221E";
}
.entypo-icon-light-bulb:before {
	content: "\1F4A1";
}
.entypo-icon-credit-card:before {
	content: "\1F4B3";
}
.entypo-icon-database:before {
	content: "\1F4F8";
}
.entypo-icon-voicemail:before {
	content: "\2707";
}
.entypo-icon-clipboard:before {
	content: "\1F4CB";
}
.entypo-icon-cart:before {
	content: "\E73D";
}
.entypo-icon-box:before {
	content: "\1F4E6";
}
.entypo-icon-ticket:before {
	content: "\1F3AB";
}
.entypo-icon-rss:before {
	content: "\E73A";
}
.entypo-icon-signal:before {
	content: "\1F4F6";
}
.entypo-icon-thermometer:before {
	content: "\1F4FF";
}
.entypo-icon-water:before {
	content: "\1F4A6";
}
.entypo-icon-sweden:before {
	content: "\F601";
}
.entypo-icon-line-graph:before {
	content: "\1F4C8";
}
.entypo-icon-pie-chart:before {
	content: "\25F4";
}
.entypo-icon-bar-graph:before {
	content: "\1F4CA";
}
.entypo-icon-area-graph:before {
	content: "\1F53E";
}
.entypo-icon-lock:before {
	content: "\1F512";
}
.entypo-icon-lock-open:before {
	content: "\1F513";
}
.entypo-icon-logout:before {
	content: "\E741";
}
.entypo-icon-login:before {
	content: "\E740";
}
.entypo-icon-check:before {
	content: "\2713";
}
.entypo-icon-cross:before {
	content: "\274C";
}
.entypo-icon-squared-minus:before {
	content: "\229F";
}
.entypo-icon-squared-plus:before {
	content: "\229E";
}
.entypo-icon-squared-cross:before {
	content: "\274E";
}
.entypo-icon-circled-minus:before {
	content: "\2296";
}
.entypo-icon-circled-plus:before {
	content: "\2295";
}
.entypo-icon-circled-cross:before {
	content: "\2716";
}
.entypo-icon-minus:before {
	content: "\2796";
}
.entypo-icon-plus:before {
	content: "\2795";
}
.entypo-icon-erase:before {
	content: "\232B";
}
.entypo-icon-block:before {
	content: "\1F6AB";
}
.entypo-icon-info:before {
	content: "\2139";
}
.entypo-icon-circled-info:before {
	content: "\E705";
}
.entypo-icon-help:before {
	content: "\2753";
}
.entypo-icon-circled-help:before {
	content: "\E704";
}
.entypo-icon-warning:before {
	content: "\26A0";
}
.entypo-icon-cycle:before {
	content: "\1F504";
}
.entypo-icon-cw:before {
	content: "\27F3";
}
.entypo-icon-ccw:before {
	content: "\27F2";
}
.entypo-icon-shuffle:before {
	content: "\1F500";
}
.entypo-icon-back:before {
	content: "\1F519";
}
.entypo-icon-level-down:before {
	content: "\21B3";
}
.entypo-icon-retweet:before {
	content: "\E717";
}
.entypo-icon-loop:before {
	content: "\1F501";
}
.entypo-icon-back-in-time:before {
	content: "\E771";
}
.entypo-icon-level-up:before {
	content: "\21B0";
}
.entypo-icon-switch:before {
	content: "\21C6";
}
.entypo-icon-numbered-list:before {
	content: "\E005";
}
.entypo-icon-add-to-list:before {
	content: "\E003";
}
.entypo-icon-layout:before {
	content: "\268F";
}
.entypo-icon-list:before {
	content: "\2630";
}
.entypo-icon-text-doc:before {
	content: "\1F4C4";
}
.entypo-icon-text-doc-inverted:before {
	content: "\E731";
}
.entypo-icon-doc:before {
	content: "\E730";
}
.entypo-icon-docs:before {
	content: "\E736";
}
.entypo-icon-landscape-doc:before {
	content: "\E737";
}
.entypo-icon-picture:before {
	content: "\1F304";
}
.entypo-icon-video:before {
	content: "\1F3AC";
}
.entypo-icon-music:before {
	content: "\1F3B5";
}
.entypo-icon-folder:before {
	content: "\1F4C1";
}
.entypo-icon-archive:before {
	content: "\E800";
}
.entypo-icon-trash:before {
	content: "\E729";
}
.entypo-icon-upload:before {
	content: "\1F4E4";
}
.entypo-icon-download:before {
	content: "\1F4E5";
}
.entypo-icon-save:before {
	content: "\1F4BE";
}
.entypo-icon-install:before {
	content: "\E778";
}
.entypo-icon-cloud:before {
	content: "\2601";
}
.entypo-icon-upload-cloud:before {
	content: "\E711";
}
.entypo-icon-bookmark:before {
	content: "\1F516";
}
.entypo-icon-bookmarks:before {
	content: "\1F4D1";
}
.entypo-icon-open-book:before {
	content: "\1F4D6";
}
.entypo-icon-play:before {
	content: "\25B6";
}
.entypo-icon-pause:before {
	content: "\2016";
}
.entypo-icon-record:before {
	content: "\25CF";
}
.entypo-icon-stop:before {
	content: "\25A0";
}
.entypo-icon-ff:before {
	content: "\23E9";
}
.entypo-icon-fb:before {
	content: "\23EA";
}
.entypo-icon-to-start:before {
	content: "\23EE";
}
.entypo-icon-to-end:before {
	content: "\23ED";
}
.entypo-icon-resize-full:before {
	content: "\E744";
}
.entypo-icon-resize-small:before {
	content: "\E746";
}
.entypo-icon-volume:before {
	content: "\23F7";
}
.entypo-icon-sound:before {
	content: "\1F50A";
}
.entypo-icon-mute:before {
	content: "\1F507";
}
.entypo-icon-flow-cascade:before {
	content: "\1F568";
}
.entypo-icon-flow-branch:before {
	content: "\1F569";
}
.entypo-icon-flow-tree:before {
	content: "\1F56A";
}
.entypo-icon-flow-line:before {
	content: "\1F56B";
}
.entypo-icon-flow-parallel:before {
	content: "\1F56C";
}
.entypo-icon-left-bold:before {
	content: "\E4AD";
}
.entypo-icon-down-bold:before {
	content: "\E4B0";
}
.entypo-icon-up-bold:before {
	content: "\E4AF";
}
.entypo-icon-right-bold:before {
	content: "\E4AE";
}
.entypo-icon-left:before {
	content: "\2B05";
}
.entypo-icon-down:before {
	content: "\2B07";
}
.entypo-icon-up:before {
	content: "\2B06";
}
.entypo-icon-right:before {
	content: "\27A1";
}
.entypo-icon-circled-left:before {
	content: "\E759";
}
.entypo-icon-circled-down:before {
	content: "\E758";
}
.entypo-icon-circled-up:before {
	content: "\E75B";
}
.entypo-icon-circled-right:before {
	content: "\E75A";
}
.entypo-icon-triangle-left:before {
	content: "\25C2";
}
.entypo-icon-triangle-down:before {
	content: "\25BE";
}
.entypo-icon-triangle-up:before {
	content: "\25B4";
}
.entypo-icon-triangle-right:before {
	content: "\25B8";
}
.entypo-icon-chevron-left:before {
	content: "\E75D";
}
.entypo-icon-chevron-down:before {
	content: "\E75C";
}
.entypo-icon-chevron-up:before {
	content: "\E75F";
}
.entypo-icon-chevron-right:before {
	content: "\E75E";
}
.entypo-icon-chevron-small-left:before {
	content: "\E761";
}
.entypo-icon-chevron-small-down:before {
	content: "\E760";
}
.entypo-icon-chevron-small-up:before {
	content: "\E763";
}
.entypo-icon-chevron-small-right:before {
	content: "\E762";
}
.entypo-icon-chevron-thin-left:before {
	content: "\E765";
}
.entypo-icon-chevron-thin-down:before {
	content: "\E764";
}
.entypo-icon-chevron-thin-up:before {
	content: "\E767";
}
.entypo-icon-chevron-thin-right:before {
	content: "\E766";
}
.entypo-icon-left-thin:before {
	content: "\2190";
}
.entypo-icon-down-thin:before {
	content: "\2193";
}
.entypo-icon-up-thin:before {
	content: "\2191";
}
.entypo-icon-right-thin:before {
	content: "\2192";
}
.entypo-icon-arrow-combo:before {
	content: "\E74F";
}
.entypo-icon-three-dots:before {
	content: "\23F6";
}
.entypo-icon-two-dots:before {
	content: "\23F5";
}
.entypo-icon-dot:before {
	content: "\23F4";
}
.entypo-icon-cc:before {
	content: "\1F545";
}
.entypo-icon-cc-by:before {
	content: "\1F546";
}
.entypo-icon-cc-nc:before {
	content: "\1F547";
}
.entypo-icon-cc-nc-eu:before {
	content: "\1F548";
}
.entypo-icon-cc-nc-jp:before {
	content: "\1F549";
}
.entypo-icon-cc-sa:before {
	content: "\1F54A";
}
.entypo-icon-cc-nd:before {
	content: "\1F54B";
}
.entypo-icon-cc-pd:before {
	content: "\1F54C";
}
.entypo-icon-cc-zero:before {
	content: "\1F54D";
}
.entypo-icon-cc-share:before {
	content: "\1F54E";
}
.entypo-icon-cc-remix:before {
	content: "\1F54F";
}
.entypo-icon-db-logo:before {
	content: "\1F5F9";
}
.entypo-icon-db-shape:before {
	content: "\1F5FA";
}
.entypo-social-icon-github:before {
	content: "\F300";
}
.entypo-social-icon-c-github:before {
	content: "\F301";
}
.entypo-social-icon-flickr:before {
	content: "\F303";
}
.entypo-social-icon-c-flickr:before {
	content: "\F304";
}
.entypo-social-icon-vimeo:before {
	content: "\F306";
}
.entypo-social-icon-c-vimeo:before {
	content: "\F307";
}
.entypo-social-icon-twitter:before {
	content: "\F309";
}
.entypo-social-icon-c-twitter:before {
	content: "\F30A";
}
.entypo-social-icon-facebook:before {
	content: "\F30C";
}
.entypo-social-icon-c-facebook:before {
	content: "\F30D";
}
.entypo-social-icon-s-facebook:before {
	content: "\F30E";
}
.entypo-social-icon-google:before {
	content: "\F30F";
}
.entypo-social-icon-c-google:before {
	content: "\F310";
}
.entypo-social-icon-pinterest:before {
	content: "\F312";
}
.entypo-social-icon-c-pinterest:before {
	content: "\F313";
}
.entypo-social-icon-tumblr:before {
	content: "\F315";
}
.entypo-social-icon-c-tumblr:before {
	content: "\F316";
}
.entypo-social-icon-linkedin:before {
	content: "\F318";
}
.entypo-social-icon-c-linkedin:before {
	content: "\F319";
}
.entypo-social-icon-dribbble:before {
	content: "\F31B";
}
.entypo-social-icon-c-dribbble:before {
	content: "\F31C";
}
.entypo-social-icon-stumbleupon:before {
	content: "\F31E";
}
.entypo-social-icon-c-stumbleupon:before {
	content: "\F31F";
}
.entypo-social-icon-lastfm:before {
	content: "\F321";
}
.entypo-social-icon-c-lastfm:before {
	content: "\F322";
}
.entypo-social-icon-rdio:before {
	content: "\F324";
}
.entypo-social-icon-c-rdio:before {
	content: "\F325";
}
.entypo-social-icon-spotify:before {
	content: "\F327";
}
.entypo-social-icon-c-spotify:before {
	content: "\F328";
}
.entypo-social-icon-qq:before {
	content: "\F32A";
}
.entypo-social-icon-instagram:before {
	content: "\F32D";
}
.entypo-social-icon-dropbox:before {
	content: "\F330";
}
.entypo-social-icon-evernote:before {
	content: "\F333";
}
.entypo-social-icon-flattr:before {
	content: "\F336";
}
.entypo-social-icon-skype:before {
	content: "\F339";
}
.entypo-social-icon-c-skype:before {
	content: "\F33A";
}
.entypo-social-icon-renren:before {
	content: "\F33C";
}
.entypo-social-icon-sina-weibo:before {
	content: "\F33F";
}
.entypo-social-icon-paypal:before {
	content: "\F342";
}
.entypo-social-icon-picasa:before {
	content: "\F345";
}
.entypo-social-icon-soundcloud:before {
	content: "\F348";
}
.entypo-social-icon-mixi:before {
	content: "\F34B";
}
.entypo-social-icon-behance:before {
	content: "\F34E";
}
.entypo-social-icon-google-circles:before {
	content: "\F351";
}
.entypo-social-icon-vk:before {
	content: "\F354";
}
.entypo-social-icon-smashing:before {
	content: "\F357";
}
